In [1]:
import pandas as pd
import numpy

from pydqc import infer_schema, data_summary, data_compare

# load data
Test data is from Kaggle competition: **Zillow Prize: Zillow’s Home Value Prediction (Zestimate)**  
link: https://www.kaggle.com/c/zillow-prize-1  

You need to download the following files, unzip and put them into the 'data' folder.  
1. properties_2016.csv.zip  
2. properties_2017.csv.zip

In [2]:
%time data_2016 = pd.read_csv('data/properties_2016.csv')
%time data_2017 = pd.read_csv('data/properties_2017.csv')

<string>:2: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.

Wall time: 26.8 s

<string>:2: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.

Wall time: 28.3 s

In [3]:
print data_2016.shape
print data_2017.shape

(2985217, 58)
(2985217, 58)

In [4]:
data_2016.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

In [5]:
data_2017.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN

# infer schema

### infer schema based on full set of data

In [6]:
%%time
infer_schema.infer_schema(_data=data_2016, fname='properties_2016', output_root='output/', 
                          sample_size=1.0, type_threshold=0.5, n_jobs=1, 
                          base_schema=None, base_schema_feature_colname='column', base_schema_dtype_colname='type')

Wall time: 4min 17s

### infer schema based on sample data

In [7]:
%%time
infer_schema.infer_schema(_data=data_2016, fname='properties_2016_sample', output_root='output/', 
                          sample_size=0.1, type_threshold=0.5, n_jobs=1, 
                          base_schema=None, base_schema_feature_colname='column', base_schema_dtype_colname='type')

Wall time: 52.9 s

### you should check the generated data schema 
and modify the data types if necessary. :)  
You can do the modification based on the data dictionary **zillow_data_dictionary.xlsx**.  
It's better to save the modified data schema with different name from the original one.  
In this example, the modified data schema is saved as XXX_mdf.xlsx

### infer schema based on base_schema
Since we have already generated data schema for data_2016, we can use the **modified** data schema of data_2016 to infer the schema for data_2017.

In [8]:
data_2016_schema = pd.read_excel('output/data_schema_properties_2016_mdf.xlsx')

In [9]:
data_2016_schema.head()

,column,type,sample_value,sample_num_uni,sample_min,sample_median,sample_max,sample_std
0,parcelid,key,"[12084420, 11727003, 11449650, 11958240, 11762...",2985217,10711725.0,12545094.0,169601949.0,7.909965e+06
1,airconditioningtypeid,str,"[1.0, 1.0, 1.0, 1.0, 1.0]",7,1.0,1.0,13.0,3.148585e+00
2,architecturalstyletypeid,str,"[7.0, 21.0, 7.0, 7.0, 7.0]",8,2.0,7.0,27.0,2.436090e+00
3,basementsqft,numeric,"[360.0, 960.0, 365.0, 757.0, 465.0]",751,20.0,534.0,8516.0,5.386280e+02
4,bathroomcnt,numeric,"[2.0, 1.0, 2.0, 3.0, 1.0]",37,0.0,2.0,20.0,1.077754e+00

In [10]:
%%time
infer_schema.infer_schema(_data=data_2017, fname='properties_2017_sample', output_root='output/', 
                          sample_size=0.1, type_threshold=0.5, n_jobs=1, 
                          base_schema=data_2016_schema, base_schema_feature_colname='column', base_schema_dtype_colname='type')

Wall time: 56.4 s

# data_summary
generate data summary report based on the **modified** data schema

In [11]:
data_2016_schema = pd.read_excel('output/data_schema_properties_2016_mdf.xlsx')

In [12]:
data_2016_schema.head()

,column,type,sample_value,sample_num_uni,sample_min,sample_median,sample_max,sample_std
0,parcelid,key,"[12084420, 11727003, 11449650, 11958240, 11762...",2985217,10711725.0,12545094.0,169601949.0,7.909965e+06
1,airconditioningtypeid,str,"[1.0, 1.0, 1.0, 1.0, 1.0]",7,1.0,1.0,13.0,3.148585e+00
2,architecturalstyletypeid,str,"[7.0, 21.0, 7.0, 7.0, 7.0]",8,2.0,7.0,27.0,2.436090e+00
3,basementsqft,numeric,"[360.0, 960.0, 365.0, 757.0, 465.0]",751,20.0,534.0,8516.0,5.386280e+02
4,bathroomcnt,numeric,"[2.0, 1.0, 2.0, 3.0, 1.0]",37,0.0,2.0,20.0,1.077754e+00

In [13]:
%%time
data_summary.data_summary(table_schema=data_2016_schema, _table=data_2016, fname='properties_2016', 
                          sample_size=1.0, feature_colname='column', dtype_colname='type', output_root='output/', n_jobs=1)

C:\Program Files\Anaconda2(64)\lib\site-packages\matplotlib\pyplot.py:524: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

Wall time: 45.9 s

### generate data summary notebook
if you want to do further checking based on the basic methods provided by **data_summary**, you can generate a notebook.

In [14]:
data_summary.data_summary_notebook(table_schema=data_2016_schema, _table=data_2016, fname='properties_2016',
                                   sample=False, feature_colname='column', dtype_colname='type', output_root='output/')

# data compare

In [16]:
data_2017_schema = pd.read_excel('output/data_schema_properties_2017_sample_mdf.xlsx')

In [17]:
%%time
data_compare.data_compare(_table1=data_2016, _table2=data_2017, _schema1=data_2016_schema, _schema2=data_2017_schema,
                          fname='properties_2016', sample_size=1.0, feature_colname1='column', feature_colname2='column',
                          dtype_colname1='type', dtype_colname2='type', output_root='output/', n_jobs=1)

Wall time: 4min 8s

### generate data compare notebook

In [18]:
data_compare.data_compare_notebook(_table1=data_2016, _table2=data_2017, _schema1=data_2016_schema, _schema2=data_2017_schema,
                                   fname='properties_2016', sample=False, feature_colname1='column', feature_colname2='column', 
                                   dtype_colname1='type', dtype_colname2='type', output_root='output/')

#### notebook that allows to do sampling on the raw data

In [19]:
data_compare.data_compare_notebook(_table1=data_2016, _table2=data_2017, _schema1=data_2016_schema, _schema2=data_2017_schema,
                                   fname='properties_sample', sample=True, feature_colname1='column', feature_colname2='column', 
                                   dtype_colname1='type', dtype_colname2='type', output_root='output/')